name: Build APK

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "release tag"
        required: true

    
jobs:
  build:
    # This job will run on ubuntu virtual machine
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
           ref: ${{ inputs.tag }}
           
    # Setup Java environment in order to build the Android app.
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
    
    # Setup the flutter environment.
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.29.0

      - run: flutter clean
    
    # Get flutter dependencies.
      - run: flutter pub get
    
    # Build apk.
      - run: flutter build apk
    
    # Upload generated apk to the artifacts.
      - uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
